:root {
  --white: #fff;
  --offWhite: #f1f1f1;
  --offBlack: #595959;
  --black: #1a1a1a;
  --lightBlue: #cfd9e1;
  --yellow: #ffdd00;
  --darkYellow: #8d7a00;
  --gray: #dadada;

  /* ---- 2de kleurenpalet ---- */
  --muzli: #0a1e25;
  --two: #9f8661;
  --three: #6c4b46;
  --four: #9f8a86;
  --five: #554341;

  /* ---- Utility colors ---- */
  --clr-disabled: #dadada;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-VariableFont_wght.ttf");
}

body {
  background-color: var(--offWhite);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  color: var(--darkYellow);
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: var(--darkYellow);
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  color: var(--darkYellow);
  margin: 0;
  padding: 0;
}

p,
label,
span,
a,
select,
option,
input,
input::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  color: var(--offBlack);
  text-decoration: none;
}

.buttons {
  margin-top: 16px;
}

.btn {
  padding: 8px 16px;
  background-color: var(--yellow);
  color: var(--black);
  border: none;
  border-radius: 8px;
}

/* ---- desktopNav ---- */
.desktopNav {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: var(--yellow);
  width: 120px;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  margin-left: -60px;
  transition: margin-left 0.5s ease-in-out; /* Voeg een overgang toe voor de marge om de beweging te verzachten */
}

.open-desktopNav {
  animation: slideInDesktopNav 0.5s forwards; /* Start de keyframe-animatie om het menu in te schuiven */
}

@keyframes slideInDesktopNav {
  from {
    margin-left: -80px; /* Beginpositie van het menu */
  }
  to {
    margin-left: 0; /* Eindpositie van het menu */
  }
}

.desktopNav .column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 16px;
  height: 100%;
  padding: 16px;
}

.desktopNav .center {
  padding: 0px;
}

.desktopNav .column .top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.desktopNav .column .top .logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-top: 16px;
}

.desktopNav .profileImg {
  width: 32px;
  height: 32px;
  border: 1px solid var(--white);
  border-radius: 50%;
  object-fit: cover;
}

.desktopNav .column .top .border {
  width: 100%;
  border: 1px solid var(--black);
}

.desktopNav .column .top .role {
  background-color: var(--darkYellow);
  padding: 8px 16px;
  border-radius: 360px;
}

.desktopNav .column .top .role p {
  color: white;
  text-transform: capitalize;
}

.desktopNav .column .menu,
.desktopNav .column .settings {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.desktopNav .column .menu div,
.desktopNav .column .settings div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.desktopNav .column .menu div p,
.desktopNav .column .settings div p {
  display: none;
  color: var(--black);
}

.desktopNav .column .menu img,
.desktopNav .column .settings img {
  color: var(--black);
  opacity: 0.6;
  width: 24px;
}

.desktopNav .column .menu img.active,
.desktopNav .column .settings img.active {
  opacity: 1;
}

.desktopNav .column i {
  font-size: 24px;
  color: var(--black);
}

/* ---- login ---- */
#login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

#login .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: 100%;
}

#login .text .back {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

#login .text .back i {
  background-color: var(--lightBlue);
  padding: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 16px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

#login .text .back p {
  opacity: 0.8;
  text-decoration: underline;
}

#login .text .partners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

#login .text .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

#login .text .row .border {
  border-bottom: 1px solid #000;
  width: 100%;
}

#login .text form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#login .text form .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#login .text form .column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#login .text form .column .password {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

#login .text form .column a {
  text-align: right;
  width: 100%;
  opacity: 0.6;
}

#login .text form .row div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#login .text form .row div input,
#login .text form .column input {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 4px 8px;
  border-radius: 8px;
  background-color: transparent;
  width: 90%;
}

#login .text form .column input {
  width: 96.6%;
}

.passwordInput .row {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  gap: 0 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.passwordInput .row input {
  border: none !important;
  width: 100% !important;
}

#login .image {
  background-image: url("../assets/images/littlesunorg_cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 366px;
}

/* ---- hubLocationsAdmin ---- */
#hubLocationsAdmin,
#addHubLocation,
#hubworkerDetails,
#usersAdmin,
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#hubworkerDetails .tasks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#hubLocationsAdmin .row,
#usersAdmin .row,
.dashboard .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#hubLocationsAdmin .hubLocations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

#hubLocationsAdmin .hubLocations .hubLocation {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  width: 320px;
  height: 320px;
  position: relative; /* Voeg deze regel toe */
}

#hubLocationsAdmin .hubLocations .hubLocation .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border-radius: 16px 16px 0 0;
}

#hubLocationsAdmin .hubLocations .hubLocation .hubLocationControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  /* padding: 8px; */

  position: absolute;
  top: 8px;
  right: 8px;
}

#hubLocationsAdmin .hubLocations .hubLocation .fa-trash,
#hubLocationsAdmin .hubLocations .hubLocation .fa-edit {
  padding: 8px;
  width: 32px;
  height: 32px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 8px;
  right: 8px; */
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

#hubLocationsAdmin .hubLocations .hubLocation .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

/* ---- addHubLocation ---- */
#addHubLocation form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

#addHubLocation form .column,
#usersAdmin form .column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* ---- usersAdmin ---- */
#usersAdmin,
#usersAdmin .users {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

#usersAdmin .users form .user,
#usersAdmin .users form .user .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#usersAdmin .users form .user .text .column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popup,
.popupIsManager {
  display: none;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  border-radius: 16px;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup .btns,
.popupIsManager .btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ---- hubworkers ---- */
#hubworkers {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#hubworkers .hubs {
  display: flex;
  flex-direction: column;
}

#hubworkers .hubs .hub {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 8px;
}

#hubworkers .hubs .hub .btn {
  width: 80px;
}
#hubworkers .hubs .hub img {
  width: 32px;
  height: 32px;
  border: 1px solid var(--darkYellow);
  border-radius: 50%;
  object-fit: cover;
}

#hubworkers .hubs .hub:nth-child(even) {
  background-color: var(--yellow);
  color: var(--black);
}

#hubworkers .hubs .hub:nth-child(even) .btn {
  background-color: var(--white);
}

/* ---- UserDashboard ---- */
.dashboard {
  padding: 16px;
}

.dashboard .bento-item {
  height: fit-content;
  width: calc(100% - 32px);
  min-width: fit-content;
  padding: 16px;
  background-color: rgb(230, 230, 230);

  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dashboard .request {
  background-color: var(--offWhite);
  padding: 8px;
  border-radius: 8px;
}

.dashboard .request button {
  margin-top: 16px;
}

.dashboard .time-off-popup .form-btns {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
}

.dashboard .time-off-popup .btn-approve {
  background-color: green;
  color: var(--white);
}
.dashboard .time-off-popup .btn-decline {
  background-color: red;
  color: var(--white);
}

.dashboard .request .request-label,
.dashboard .time-off-popup .request-label {
  font-weight: bold;
}

.dashboard .request .request-status {
  margin-top: 8px;
}

.dashboard .request .request-status-text {
  padding: 4px;
  border-radius: 8px;
}

.dashboard .request .request-status-pending {
  background-color: orange;
  color: var(--black);
}
.dashboard .request .request-status-approved {
  background-color: green;
  color: var(--white);
}
.dashboard .request .request-status-declined {
  background-color: red;
  color: var(--white);
}

.dashboard .time-off-popup {
  flex-direction: column;
  gap: 16px;
  background-color: var(--gray);
  padding: 32px;
  border-radius: 8px;

  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - 64px);
  max-width: 400px;
}

.pop-up-overlay {
  display: none;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.pop-up-overlay .btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: var(--darkYellow);
}

.pop-up-overlay .popup-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
}

.pop-up-overlay form .form-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pop-up-overlay form .form-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.pop-up-overlay form input,
.pop-up-overlay form textarea {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 4px 8px;
  border-radius: 8px;
  background-color: transparent;
  /* width: 100%; */

  resize: none;
}

.pop-up-overlay form .btn-submit {
  margin-top: 16px;
}

/* ---- calendar ---- */
#calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}

.dailyview,
.weeklyview,
.monthlyview {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.weeklyview #week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.weeklyview,
.monthlyview {
  display: none;
}

#calendar .btns {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

#calendar .btns .btn {
  width: 54px;
  text-align: center;
  background-color: var(--white);
}

#calendar .btns .btn.active {
  background-color: var(--darkYellow);
  color: var(--white);
}

#calendar #top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#calendar #top div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#calendar #top,
#calendar #days,
#calendar #month {
  width: 100%;
}

#calendar #top .fa {
  font-size: 24px;
}

#calendar h2,
#calendar h3 {
  color: var(--darkYellow);
}

#calendar .btn.big {
  width: 132px;
  background-color: transparent;
  border: 1px solid var(--darkYellow);
  color: var(--darkYellow);
}

div#days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

div#month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

div.day {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 100px;
}

div.day #dayItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div.day p.calendarItem {
  margin: 0;
}

div.day p.calendarItem {
  color: var(--white);
  background-color: var(--calendarItemColor);
  padding: 8px;
  border-radius: 8px;
}

#calendar .legenda {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#calendar .legenda .employee {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#calendar .legenda .employee .color {
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

@media (min-width: 800px) {
  .desktopNav {
    display: flex;
  }

  #login {
    height: 95.9vh;
  }

  #login .text {
    width: 100%;
    height: 50%;
  }

  #login .image {
    height: 649px;
    height: 50%;
  }

  #hubLocationsAdmin,
  #addHubLocation,
  #usersAdmin,
  #hubworkers,
  #calendar,
  #hubworkerDetails,
  .dashboard {
    padding: 24px;
    padding-left: 144px;
  }

  .dashboard .bento-item {
    width: calc(33.333% - 32px);
  }
}

@media (min-width: 1200px) {
  .desktopNav {
    margin-left: 0;
  }

  #login {
    height: 100vh;
    overflow: hidden;
  }

  #login .text {
    padding-left: 200px;
  }

  #login .text,
  #login .image {
    width: 42%;
    justify-content: center;
    height: 100%;
  }

  .dashboard .bento-item {
    width: calc(25% - 32px);
  }
}
